@import url(common.css);

.root {
    -fx-base: #343434;
    -fx-background: #282828;
    -fx-control-inner-background: #282828;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #005E44;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #30AB66;
}

.text-input {
    -fx-background-color: #424242;
    -fx-text-fill: white;
    -fx-prompt-text-fill: darkgray;
}

.text-area .content {
    -fx-background-color: #424242;
    -fx-text-fill: white;
    -fx-prompt-text-fill: darkgray;
}